
<div class="contenedor-solicitud">
    <h2>Solicitar cita</h2>
  
    <div class="formulario-cita">
      <table>
        <thead>
          <tr>
            <th>Fecha</th>
            <th>Hora</th>
            <th>Motivo</th>
            <th>Cargo</th>
            <th>Médico</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            
            <td>
              <input type="date" [(ngModel)]="fecha" (change)="cita_repetida()" />
            </td>
  
            
            <td>
              <select [(ngModel)]="hora">
                <option selected="true" disabled>Seleccione una hora</option>
                <option value="08:00">08:00 AM</option>
                <option value="09:00">09:00 AM</option>
                <option value="10:00">10:00 AM</option>
                 Agrega más si lo deseas 
              </select>
            </td>
  
             
            <td>
              <input type="text" placeholder="Escriba el motivo de la consulta" [(ngModel)]="motivo" />
            </td>

            <td>
              <select [(ngModel)]="cargo" (change)="medico_encontrado()">
                <option  selected="true">Seleccione el cargo</option>
                <option value="General">General</option>
                <option value="Cardiologo">Cardiologo</option>
                <option value="Urolologo">Urolologo</option>
              </select>
            
              </td>
  
             
            <td>
              <select [(ngModel)]="med" >
                <option value="" disabled selected>Seleccione un médico</option>
                <option *ngFor="let m of Medicos" [ngValue]="m" >
                    {{ m.nombreMedico }} {{ m.apellidosMedico }} 
                </option>
              </select>
            </td>
  
             
            <td>
              <button class="confirmar-btn" (click)="solicitar_cita_paciente()">Confirmar cita</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>


  