<ng-container #loguin *ngIf="mostrarLogin">
<div class="fondo" >
<div class="container" >
    <div class="card login-card">
      <h2>Inicio de sesión</h2>
  
      <form (ngSubmit)="iniciarSesion()">
        <label for="usuario">Usuario</label>
        <input type="text" id="usuario" [(ngModel)]="usuario" name="usuario" placeholder="Ingrese su usuario" required />
  
        <label for="password">Contraseña</label>
        <input type="password" id="password" [(ngModel)]="password" name="password" placeholder="Ingrese su contraseña" required />
  
        <button type="submit">Iniciar sesión</button>
      </form>
  
      <p class="registro">
        ¿Todavía no estás registrado? Regístrate
        <a (click)="irARegistroPaciente()">aquí</a>.
      </p>
      
    </div>
  
    <div class="card bienvenida-card">
      <h3>¡Te damos la Bienvenida a nuestro Sitio Web!</h3>
      <img src="assets/paciente-hospital-dia.jpg" alt="Bienvenida" />
      <p>
        Tú como paciente debes de disfrutar de las mejores experiencias, ahora con nuestra nuevo Sitio Web podrás hacerlo.
      </p>
    </div>
  </div>
</div>
</ng-container>
  