<div class="contenedor-principal">
    <h2>Agendar citas</h2>
  
    <div class="buscador">
      <input type="text" placeholder="102208519" [(ngModel)]="idpaciente" />
      <button class="btn-rojo" (click)="paciente_encontrado()">Buscar paciente</button>
    </div>

    <!--<div class="busqueda-paciente">
  <input [(ngModel)]="identificacionBuscada" placeholder="102208519" />
  <button (click)="buscarPaciente()">Buscar paciente</button>
</div>-->
  
    <div class="tabla-paciente">
      <table>
        <thead>
          <tr>
            <th>Identificación</th>
            <th>Nombres</th>
            <th>Apellidos</th>
            <th>Fecha de nacimiento</th>
            <th>Teléfono</th>
            <th>Correo electrónico</th>
            <th>Sexo</th>
            <th>Estado Civil</th>
            <th>Dirección</th>
            <th>Afiliación</th>
            <th>RH</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{ loguinpacinete.usuarioPaciente }}</td>
            <td>{{ paciente.nombres }}</td>
            <td>{{ paciente.apellidos }}</td>
            <td>{{ paciente.fechaNacimiento}}</td>
            <td>{{ paciente.telefono }}</td>
            <td>{{ paciente.correo }}</td>
            <td>{{ paciente.sexo }}</td>
            <td>{{ paciente.estadoCivil }}</td>
            <td>{{ paciente.direccion }}</td>
            <td>{{ paciente.afiliacion }}</td>
            <td>{{ paciente.rh }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  
    <div class="formulario-cita">

      <div id="cont-campos">

        <div class="campo">
          <label>Seleccione una fecha</label>
          <input type="date" [(ngModel)]="fecha"  />
        </div>
    
        <div class="campo">
          <label>Ingrese una hora disponible</label>
          <select [(ngModel)]="hora" >
            <option value="">Seleccione una hora</option>
            <option value="08:00">08:00</option>
            <option value="09:00">09:00</option>
            <option value="10:00">10:00</option>
             Agrega más horas aquí 
          </select>
        </div>
  
        
        <div class="campo">
          <label>Motivo</label>
          <input type="text" [(ngModel)]="motivo" class="form-control" placeholder="Escriba el motivo de la consulta" aria-label="Username" aria-describedby="basic-addon1">
        </div>
  
        <div class="campo">
          <label>Ingrese el cargo del medico</label>
          <select [(ngModel)]="cargo"(change)="medico_encontrado()">
            <option value="" disabled selected>Seleccione cargo</option>
            <option value="General">General</option>
            <option value="Cardiologo">Cardiologo</option>
            <option value="Urolologo">Urolologo</option>
  
          </select>
  
        </div>
  
    
        <div class="campo">
          <label>Médico asignado</label>
          <select [(ngModel)]="med">
            <option value="" disabled selected>Seleccione un médico</option>
            <option *ngFor="let m of Medicos" [ngValue]="m">{{ m.nombreMedico }} {{ m.apellidosMedico }}</option>
          </select>
        </div>


      </div>
     
  
      <button class="btn-azul" (click)="solicitar_cita_paciente()">Agendar</button>
    </div>
  </div>
  
