<div class="container">
  <h2>Registro de datos</h2>
  <form #formulario="ngForm" (ngSubmit)="registrar()">
    <div class="form-row">
      <!-- Columna izquierda -->
      <div class="form-group">
        <label>No. del Documento:</label>
        <input type="number" [(ngModel)]="paciente.idPaciente" name="idPaciente" placeholder="Ingrese su No. de documento">
      </div>

      <div class="form-group">
        <label>Apellidos:</label>
        <input type="text" [(ngModel)]="paciente.apellidos" name="apellidos" required>
      </div>

      <div class="form-group">
        <label>Sexo:</label>
        <select [(ngModel)]="paciente.sexo" name="sexo" required>
          <option value="">Seleccione su sexo</option>
          <option value="Masculino">Masculino</option>
          <option value="Femenino">Femenino</option>
        </select>
      </div>

      <div class="form-group">
        <label>Teléfono:</label>
        <input type="text" [(ngModel)]="paciente.telefono" name="telefono">
      </div>

      <div class="form-group">
        <label>Fecha de nacimiento:</label>
        <input type="date" [(ngModel)]="paciente.fechaNacimiento" name="fechaNacimiento">
      </div>

      <div class="form-group">
        <label>RH:</label>
        <input type="text" [(ngModel)]="paciente.rh" name="rh">
      </div>

      <div class="form-group">
        <label>Contraseña:</label>
        <input type="password" [(ngModel)]="password" name="password" required>
      </div>

      <div class="form-group">
        <label>Nombres:</label>
        <input type="text" [(ngModel)]="paciente.nombres" name="nombres" required>
      </div>

      <div class="form-group">
        <label>Afiliación:</label>
        <input type="text" [(ngModel)]="paciente.afiliacion" name="afiliacion">
      </div>

      <div class="form-group">
        <label>Estado civil:</label>
        <input type="text" [(ngModel)]="paciente.estadoCivil" name="estadoCivil">
      </div>

      <div class="form-group">
        <label>Correo:</label>
        <input type="email" [(ngModel)]="paciente.correo" name="correo" required>
      </div>

      <div class="form-group">
        <label>Dirección:</label>
        <input type="text" [(ngModel)]="paciente.direccion" name="direccion">
      </div>

      <div class="form-group">
        <label>Ingrese su usuario:</label>
        <input type="text" [(ngModel)]="usuario" name="usuario" required>
      </div>

    </div>

    <button type="submit">Registrarse</button>
  </form>
</div>
