<div class="container">
    <h2>Registro de datos</h2>
    <form #formulario="ngForm" (ngSubmit)="registrar()">
      <div class="form-row">
        <div class="form-group">
          <label>Id del documento:</label>
          <input type="number" [(ngModel)]="paciente.idPaciente" name="idPaciente" class="form-control" required>
        </div>
  
        <div class="form-group">
          <label>Apellidos:</label>
          <input type="text" [(ngModel)]="paciente.apellidos" name="apellidos" class="form-control" required>
        </div>
  
        <div class="form-group">
          <label>Sexo:</label>
          <select [(ngModel)]="paciente.sexo" name="sexo" class="form-control" required>
            <option value="">Selecciona sexo</option>
            <option value="Masculino">Masculino</option>
            <option value="Femenino">Femenino</option>
          </select>
        </div>
  
        <div class="form-group">
          <label>Teléfono:</label>
          <input type="text" [(ngModel)]="paciente.telefono" name="telefono" class="form-control">
        </div>
  
        <div class="form-group">
          <label>Fecha de nacimiento:</label>
          <input type="date" [(ngModel)]="paciente.fechaNacimiento" name="fechaNacimiento" class="form-control">
        </div>
  
        <div class="form-group">
          <label>RH:</label>
          <input type="text" [(ngModel)]="paciente.rh" name="rh" class="form-control">
        </div>
      </div>
  
      <div class="form-row">
        <div class="form-group">
          <label>Nombres:</label>
          <input type="text" [(ngModel)]="paciente.nombres" name="nombres" class="form-control" required>
        </div>
  
        <div class="form-group">
          <label>Afiliación:</label>
          <input type="text" [(ngModel)]="paciente.afiliacion" name="afiliacion" class="form-control">
        </div>
  
        <div class="form-group">
          <label>Estado civil:</label>
          <input type="text" [(ngModel)]="paciente.estadoCivil" name="estadoCivil" class="form-control">
        </div>
  
        <div class="form-group">
          <label>Correo:</label>
          <input type="email" [(ngModel)]="paciente.correo" name="correo" class="form-control" required>
        </div>
  
        <div class="form-group">
          <label>Dirección:</label>
          <input type="text" [(ngModel)]="paciente.direccion" name="direccion" class="form-control">
        </div>
  
        <div class="form-group">
          <label>Usuario:</label>
          <input type="text" [(ngModel)]="usuario" name="usuario" class="form-control" required>
        </div>
  
        <div class="form-group">
          <label>Contraseña:</label>
          <input type="password" [(ngModel)]="password" name="password" class="form-control" required>
        </div>
      </div>
  
      <button class="btn btn-danger" type="submit">Registrarse</button>
    </form>
  </div>
  