<nav class="diseño-barras">

    <div id="menu-izquierda">

        <a href="">Clinica</a>

        <span> |</span>

        <!-- navegacion del paciente-->
        <a href="" class="paciente estiloA">Solicitar Cita</a>
        <a href="" class="paciente estiloA">Ver mis citas</a>
        <a href="" class="paciente estiloA">Mi perfil</a>

        <!-- navegacion del medico-->

        <a href="" class="medico estiloA">Lista de pacientes</a>

        <!-- navegacion del recepcionista-->

        <a href="" class="Recep estiloA">Citas</a>
        <a href="" class="Recep estiloA">Agendar Citas</a>

    </div>
    


    <div id="menu-derecha">
         <a href="">Cerrar sesión</a>
    </div>
    


</nav>

<!--contenido rotativo-->
<router-outlet></router-outlet>

<footer class="diseño-barras" >
    
    &copy; 2024 ClinicaApp - sistema de gestión de Historias Clinicas

</footer>
